p, h2 {
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

html {
  background-color: #0e0d23;
}

.app-box {
  background-color: #171c3f;
  padding: 1rem;
  margin: 1rem;
  width: 50%;
}

p {
  color: #dcdcdc;
  padding: 0.05rem;
  font-size: .85rem;
}

h2 {
  color: #5d6edd;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}
