* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .AppointmentBox {
    width: 12rem;
    height: 3rem;
    margin-top: .6rem;
    font-size: large;
    
    background-color: #6f1717;
    border: none;
    color: #fff;
    border-radius: 4px;

    box-shadow: 5px 5px 0 #440808;

    transition: transform 0.2s ease-in-out;
  }
  
  .AppointmentBox:hover {
    transform:scale(1.1);
  }
  .header {
    width: 10.5rem;
    height: 3rem;
    background-color: #21273c;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.9rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .header2{
    width: 17rem;
    height: 3rem;
    background-color: #21273c;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .AppointmentDay{
    width: 4rem;
    height: 2rem;
    border: transparent;
    background: transparent;
    color: rgb(220, 220, 220);
    text-align: middle;
    font-size: large;
    align-self: auto;  
    align-self: center;
    margin-left: 4rem;
  }

  .AABox {
    width: 35.5rem;
    height: 3.2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    font-size: large;

    background-color: #1f347c;
    border: none;
    color: #fff;
    border-radius: 4px;

    box-shadow: 5px 5px 0 #172450;
    transition: transform 0.2s ease-in-out;
  }
  
  .AABox:hover {
    transform:scale(1.1);
  }
  .DayGrid{
    display: grid;
    grid-template-columns: repeat(7, 14.3rem);
    
  }
  
  .AppointmentGrid{
    display: grid;
    width: 13rem;
    height: 3.5rem;
    grid-template-columns: repeat(7, 13rem);

    grid-row: 3.5rem;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-left: 10.1rem;

    text-align: center;
    color: white;
  }
  
  .WeekGrid{
    display: grid;
    width: auto;
    height: 3.5rem;
    grid-template-columns: 4rem 34.5rem 16rem 29.4rem 4rem;
    margin-left: 13rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  }
  
  .currentDate{
    width: auto;
    height: auto;
    text-align: center;
    font-size: xx-large;
    border: transparent;
    grid-column: 3;
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    transition: color 0.2s;
  color: white;
}

.currentDate:hover {
  animation: color-anim 2s infinite;
}

@keyframes color-anim {
  0% {
    color: white;
  }
  25% {
    color: #0f98d8;
  }
  50% {
    color: rgb(219, 146, 0);
  }
  75% {
    color: rgb(193, 16, 0);
  }
  100% {
    color: white;
  }
}
  
  .Arrow{
    background-color: #166dca;
    border: none;
    border-radius: 4px;
    color: #fff;

    font-size: larger;
    height: 3.5rem;
    width: 6rem;  

    cursor: pointer;
    
    box-shadow: 5px 5px 0 #113dad;
    transition: transform 0.2s ease-in-out;
  }

  .Arrow:hover {
    transform:scale(1.1);
  }

  .LeftArrow{
    grid-column: 1;
  }
  .RightArrow{
    grid-column: 5;
  }
  
  
  