* {
    margin: 0;
    box-sizing: border-box;
  }
  
  .AppointmentBox {
    width: 12.2rem;
    height: auto;
    background-color: #4c567e;
    margin-top: 0.5rem;
    font-size: large;
  }
  
  .header {
    width: 10.5rem;
    height: 3rem;
    background-color: #21273c;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0.9rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .header2{
    width: 17rem;
    height: 3rem;
    background-color: #21273c;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .AppointmentDay{
    width: 4rem;
    height: 2rem;
    background: #4c567e;
    border: transparent;
    text-align: middle;
    font-size: large;
    align-self: auto;  
    align-self: center;
    margin-left: 4rem;
  }

  .DayGrid{
    display: grid;
    grid-template-columns: repeat(7, 13rem);
    
  }
  
  .AppointmentGrid{
    display: grid;
    width: 13rem;
    height: 3.5rem;
    grid-template-columns: repeat(7, 13rem);
    grid-row: 3.5rem;
    margin-left: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  
  .WeekGrid{
    display: grid;
    width: auto;
    height: 3.5rem;
    grid-template-columns: 4rem 32rem 17rem 32.4rem 4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .currentDate{
    width: auto;
    height: auto;
    color: white;
    background-color:rgb(42, 113, 168);
    text-align: center;
    font-size: xx-large;
    border: transparent;
    grid-column: 3;
  }
  
  .Arrow{
    background-color:rgb(42, 113, 168);
    font-size: larger;
    height: 3.5rem;
    width: 6rem;  
  }

  .LeftArrow{
    grid-column: 1;
  }
  .RightArrow{
    grid-column: 5;
  }
  
  
  