.header {
    position: relative;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: stretch;
    padding: 1rem;
    color: aliceblue;
    background-color: transparent;
    font-size: medium;
  }

.text {
    float: left;
    margin-left: 2rem;
}

.right {
    float: right;
    margin-left: auto;
    margin-right: 3rem;
    color: aliceblue;
    background-color: transparent;
}

.today {
    background-color: transparent;
    border: transparent;
    margin-left: 1rem;
    color: aliceblue;
}
