.header {
    position: fixed;
    width: 100%;
    height:90px;
    display:flex;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}

.nav-menu {
    display:flex;

}

.nav-menu li {
    padding: 0 1rem;
    list-style-type: none;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
    color: pink;
}