@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.steam-button {
  background-color: #1b86f9;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 16px 50px;
  box-shadow: 0 0 20px #1b86f9;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.25rem;
  display: inline-block;
	margin-top: 25px;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

h1 {
  letter-spacing: 0.2rem;
  line-height: 5rem;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
  color: rgb(198, 198, 198);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
	margin-bottom: 15px;
}

.basicDesc {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
	max-width: 1200px;
	margin: auto;
}

#projName {
  padding-top: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.buttonsDiv {
  width: 50%;
}

html {
  scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.content {
	z-index: 2;
}

#about {
	padding: 40px;
	text-align: center;
}